header{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(./images/cover2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    padding-top: 12.5%;
    @include respond(phone){
        text-align: center;
    }
}

.cover p{
    background: rgba(255, 255, 255, 0.837);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.5);
    border-radius: .3rem;
    padding: 2rem;
    width: 60%;
    margin-bottom: 3rem;
}