header{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(ryan-shao-project-3/images/cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    padding-top: 12.5%;

    @include respond(phone){
        text-align: center;
    }
}