header{
    background-image: url(../../images/A5F7997C-F084-40FC-9842-6F12E77D9DC0.jpeg);
    background-repeat: none;
    height: 100vh;
    background-position: ;
    opacity: 65%;
    background-attachment: fixed;
}
