
.question1{
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/size.jpg);
}

.question2{
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/trainability.jpg);
}

.question3{
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/maintenance.jpg);
}

.question4{
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/activelevel.jpg);
}

.question1,
.question2,
.question3,
.question4{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.option{
    padding: 1rem 0;
}

.wrapper,
.resultWrap{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem;
    background: rgba(255, 255, 255, 0.837);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.5);
    border-radius: .3rem;
}

.submitContainer{
    position: absolute;
    bottom: 5%;
}

.result{
    display: none; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.resultWrap{
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include respond(phone){
        height: 30vh;
    }
}

.restart{
    padding: 2rem 4rem;
    margin-top: 2rem;
}

h3{
    @include respond(phone){
        font-size: 4rem;
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 2.8rem;
    cursor: pointer;
    line-height: 2rem;
    display: inline-block;
    color: $color-grey;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid $color-grey;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 1rem;
    height: 1rem;
    background: $color-black;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    border-radius: 100%;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}