/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
img {
  max-width: 100%;
  width: 100%; }

h1 {
  color: #000;
  font-size: 12rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 50em) {
    h1 {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 6rem; } }

.cover p {
  width: 80%;
  padding: 2rem 0 3rem 0;
  line-height: 4.5rem; }
  @media only screen and (max-width: 50em) {
    .cover p {
      width: 65%;
      margin-top: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .cover p {
      width: 100%;
      padding: 2rem 0;
      margin-top: 0; } }

h2 {
  padding-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    h2 {
      font-size: 4rem; } }

.start,
.submit,
.restart {
  display: inline-block;
  padding: 2rem 6rem;
  border: 0.1rem solid #fff;
  margin: 0 0.6rem 0.6rem 0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
  background-color: #000; }

.start:hover,
.submit:hover,
.restart:hover {
  color: #000;
  background-color: #fff; }

button {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 3rem;
  text-transform: uppercase; }

.row {
  max-width: 144rem;
  margin: 0 auto;
  width: 90%; }

header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/cover.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.cover {
  padding-top: 12.5%; }
  @media only screen and (max-width: 37.5em) {
    .cover {
      text-align: center; } }

.question1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/size.jpg); }

.question2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/trainability.jpg); }

.question3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/maintenance.jpg); }

.question4 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/activelevel.jpg); }

.question1,
.question2,
.question3,
.question4 {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }

.option {
  padding: 1rem 0; }

.wrapper,
.resultWrap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  border-radius: .3rem; }

.submitContainer {
  position: absolute;
  bottom: 5%; }

.result {
  display: none;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }

.resultWrap {
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .resultWrap {
      height: 30vh; } }

.restart {
  padding: 2rem 4rem;
  margin-top: 2rem; }

@media only screen and (max-width: 37.5em) {
  h3 {
    font-size: 4rem; } }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: #000;
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

footer {
  color: #fff;
  background-color: #000;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem; }
