/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
img {
  max-width: 100%;
  width: 100%; }

h1 {
  color: #000;
  font-size: 15rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  font-family: "Kumar One", sans-serif;
  font-weight: 400;
  color: #000; }

.row {
  max-width: 144rem;
  margin: 0 auto;
  width: 90%; }

header {
  background-image: url(../../images/A5F7997C-F084-40FC-9842-6F12E77D9DC0.jpeg);
  height: 100vh;
  background-position: center;
  opacity: 50%;
  background-attachment: fixed; }

.carousel {
  background: #EEE; }

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

footer {
  color: #fff;
  background-color: #000;
  padding: 2rem;
  text-align: center; }
