*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //1rem = 10px
    
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone-tab) { // width in between phone and tab-port
        font-size: 60%;
    }
}

body{
    box-sizing: border-box;
    font-family: "Kumar One", sans-serif;
    font-weight: 400;
    color: $color-black;
    font-size: 2rem;
}

.row{
    max-width: 144rem;
    margin: 0 auto;
    width: 90%;
}